<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Home</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
  <a href="/register"><button type="button" name="button">Register</button></a>
  <a href="/login"><button type="button" name="button">Login</button></a>
</body>

</html>
