<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <script src="/socket.io/socket.io.js"></script>

    <!-- <script type="text/javascript">
      var socket = new WebSocket('ws://localhost:3000');
      socket.onopen = function(event) {
        console.log("socket connected");
    }
    socket.onmessage = function(e){
       var server_message = e.data;
       document.getElementById("alert").innerHTML = server_message;
    }
  </script> -->
</head>

<body>

      <form class="" action="/register" method="post">
          <small id="alert" style="color:red;"></small>
          <!-- <input class="form-control name" type="text" name="name" placeholder="Enter name" value=""> -->
          <input  type="text" name="username" placeholder="Enter username" value="">
          <input  type="text" name="name" placeholder="Enter full name" value="">
          <input  type="password" name="password" placeholder="Enter password" value="">
          <button type="submit" name="submit">Register</button>
      </form>

      <a href="/login"><button class="btn btn-primary">Login</button></a>

  <script>

    var socket=io.connect("http://localhost:3000");

    socket.on("message",(msg)=>{
      document.getElementById("alert").innerText=msg;
    })
  </script>

</body>
</html>
