<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/schedule" method="post">
      <input type="date" name="date" value="">
      <input type="text" name="time" value="">
      <button type="submit" name="button"></button>
    </form>

  </body>
</html>
